@page
@using Domain.HelperEnums
@model WebApp.Pages.Tasks.IndexModel

@{
    ViewData["Title"] = "Tasks";
}

<h1>Tasks</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ToDoTasks[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDoTasks[0].CreatedAtDt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDoTasks[0].HasToBeDoneAtDt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ToDoTasks) {
    var hoursDifference = (item.HasToBeDoneAtDt - DateTime.Now).TotalHours;

    var rowColor = hoursDifference < 1 ? "text-danger" : "text-dark";
    
    if (item.CompletedAtDt != null) {continue;}
    
    <tr class="@rowColor">
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAtDt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HasToBeDoneAtDt)
        </td>
        <td>
            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a> |
            <form asp-page-handler="button" method="post" asp-route-id="@item.Id">
                <button class="btn btn-default, text-success">Complete task</button>
            </form>
            
        </td>
    </tr>
    
}
    </tbody>
</table>
